AzureDataFactory/pipeline/PL_IL_Orders.json
{
	"name": "PL_IL_Orders",
	"properties": {
		"activities": [
			{
				"name": "LKP_Old_Value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select  TableName, WatermarkValue\n from dbo.watermarktable \n where TableName='@{pipeline().parameters.TableName}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_sourse",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lkp_New_Value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(@{pipeline().parameters.Watermarkcolumn}) as NewWatermarkValue \nfrom @{pipeline().parameters.TableName};",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_target",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Orders",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP_Old_Value",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lkp_New_Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.TableName}\nwhere @{pipeline().parameters.Watermarkcolumn} >'@{activity('LKP_Old_Value').output.firstRow.WatermarkValue}'\nand @{pipeline().parameters.Watermarkcolumn}<='@{activity('Lkp_New_Value').output.firstRow.NewWatermarkValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_sourse",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_target",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP Update",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Orders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spSetWatermark]",
					"storedProcedureParameters": {
						"TableName": {
							"value": {
								"value": "@activity('LKP_Old_Value').output.firstRow.TableName",
								"type": "Expression"
							},
							"type": "String"
						},
						"NewTime": {
							"value": {
								"value": "@activity('Lkp_New_Value').output.firstRow.NewWatermarkValue",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_order_new",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string"
			},
			"Watermarkcolumn": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-11-23T10:30:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}